%h1 Users

- content_for(:subnav) do
  = link_to('Add new user', new_user_path, class: 'btn btn-primary float-right', title: 'Add a new user')

%div.user-table
  %table.table.table-hover
    %thead
      %tr
        %th{scope: 'col'} id
        %th{scope: 'col'} Name
        %th{scope: 'col'} Organization
        %th{scope: 'col'} Email Address
        %th{scope: 'col'} Role
        %th{scope: 'col'} Status
        %th{scope: 'col'} Last Seen
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td{scope: 'row'}= user.id
          %td= link_to user, user
          %td= organization_link(user.organization)
          %td= user.email
          %td= user.role.capitalize
          %td= user.status.capitalize
          %td= user.last_sign_in_at&.localtime&.to_s(:short)
          %td
            = link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-primary btn-sm mr-2'
            - unless current_user == user
              = link_to 'Delete', "/admin/users/#{user.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
%div.user-list
  %table.table.table-hover
    %thead
      %tr
        %th{scope: 'col'} id
        %th{scope: 'col'} Name
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td{scope: 'row'}= user.id
          %td= link_to user, user
          %td
            = link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-primary btn-sm mr-2'
            - unless current_user == user
              = link_to 'Delete', "/admin/users/#{user.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'