- content_for_title("#{@user}")
- content_for(:subnav) do
  - if editable_by_user?(@user, current_user)
    = link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-green'
%section
  %div.card-columns
    %div.card
      %div.card-body
        %h5.card-title Email
        %p.card-text= @user.email
    %div.card
      %div.card-body
        %h5.card-title Role
        %p.card-text= @user.role.capitalize
    %div.card
      %div.card-body
        %h5.card-title Status
        %p.card-text= @user.status.capitalize
    %div.card
      %div.card-body
        %h5.card-title Created
        %p.card-text= I18n.l @user.created_at, format: :standard if @user.created_at
    %div.card
      %div.card-body
        %h5.card-title Sign In Count
        %p.card-text= @user.sign_in_count
