- content_for_title(@user.to_s)

- content_for(:subnav) do
  - if editable_by_user?(@user, current_user)
    = link_to 'Edit profile', edit_user_path(@user), class: 'btn btn-primary float-right'

%section.mt-5
  %dl.row
    %dt.col-3 Name
    %dd.col-9= @user
    %dt.col-3 Organization
    %dd.col-9= @user.organization ? organization_link(@user.organization) : Organization::NAME_FOR_NONE
    %dt.col-3 Email
    %dd.col-9= @user.email
    %dt.col-3 Role
    %dd.col-9= @user.role.capitalize
    %dt.col-3 Status
    %dd.col-9= @user.status.capitalize
    %dt.col-3 Created
    %dd.col-9= I18n.l @user.created_at, format: :standard if @user.created_at
    %dt.col-3 Sign-In Count
    %dd.col-9= @user.sign_in_count
