%h2 Contact Information
= "To: #{@contact.fetch(:to)}"
%br/
= "Name: #{@contact.fetch(:name)}"
%br/
= "Email: #{@contact.fetch(:email)}"
%br/
= "Phone Number: #{@contact.fetch(:phone_number)}"
%br/
= "Message: #{@contact.fetch(:message)}"
