- content_for_title('Organizations')
- content_for(:subnav) do
  = link_to('Add Organization', new_organization_path, class: 'btn btn-primary', title: 'Add a new organization')
- if current_user&.admin?
  .container
    - @pending_organizations.in_groups_of(3, false).each do |organization|
      .row.display-flex
        - organization.each do |o|
          .col-lg-4.center
            .col-lg-12.center.pending
              %h3= link_to o.name, o, title: "Details of #{o.name}"
              %p= link_to('edit', edit_organization_path(o), title: "Edit #{o.name}")
.container
  - @organizations.in_groups_of(3, false).each do |organization|
    .row.display-flex
      - organization.each do |o|
        .col-lg-4.center
          .col-lg-12.center
            %h3= link_to o.name, o, title: "Details of #{o.name}"
            %p= link_to('edit', edit_organization_path(o), title: "Edit #{o.name}") if current_user&.admin?
- if current_user&.admin?
  .container
    - @denied_organizations.in_groups_of(3, false).each do |organization|
      .row.display-flex
        - organization.each do |o|
          .col-lg-4.center
            .col-lg-12.center.denied
              %h3= link_to o.name, o, title: "Details of #{o.name}"
              %p= link_to('edit', edit_organization_path(o), title: "Edit #{o.name}")
