- content_for_title("Organization #{@organization.name}")
- content_for(:subnav) do
  = link_to '« Back to organizations', organizations_path, class: 'btn btn-primary', title: 'List of all organizations'
  .btn-group
    = link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-primary', title: "Edit #{@organization.name}" if current_user&.admin?
    = link_to 'Delete', @organization, method: :delete, data: { confirm: "Delete Organization #{@organization.name}?" }, class: 'btn btn-danger', title: "Delete #{@organization}" if current_user&.admin?
%section
  %table.table-striped
    %tr
      %th Name
      %td= @organization.name
    - if !@organization.location.blank?
      %tr
        %th Location
        %td= @organization.location
    - if !@organization.ages_served.blank?
      %tr
        %th Ages Served
        %td= @organization.ages_served
    - if !@organization.programs.blank?
      %tr
        %th Programs
        %td= @organization.programs
    - if !@organization.contact_number.blank?
      %tr
        %th Contact Number
        %td
          - phone_numbers = @organization.contact_number.split(', ')
          - phone_numbers.each do |phone_number|
            = link_to phone_number,  "tel:#{phone_number[/\d{3}-\d{3}-\d{4}/,0]}"
            %br
    - if !@organization.contact_email.blank?
      %tr
        %th Contact Email
        %td
          = mail_to @organization.contact_email
    - if !@organization.website.blank?
      %tr
        %th Website
        %td
          = link_to @organization.website,  @organization.website
    - if !@organization.tag_list.blank?
      %tr
        %th Tags
        %td
          - @organization.tag_list.each do |tag|
            .btn.btn-secondary.btn-sm.btn-static #{tag}
= link_to 'Email Organization', new_contact_path({ to: @organization.id }), class: 'btn btn-primary email-organization', title: "Email #{@organization.name}" if @organization.contact_email.present?
