.row
  .col-md-6.col-md-offset-3
    = form_for(@activity, html: { multipart: true }) do |form|
      = form_errors_for(@activity)
      .form-group
        = form.label :title
        = form.text_field :title, class: 'form-control'
      .form-group
        = form.label :location
        = form.text_field :location, class: 'form-control'
      .form-group
        = form.label :start_date
        = form.date_select :start_date, order: [:month, :day, :year]
      .form-group
        = form.label :end_date
        = form.date_select :end_date, order: [:month, :day, :year]
      .form-group
        = form.label :start_time
        = form.time_select :start_time, ampm: true, minute_step: 15
      .form-group
        = form.label :end_time
        = form.time_select :end_time, ampm: true, minute_step: 15
      .form-group
        = form.label :description
        = form.text_area :description, rows: 6, class: 'form-control'
      .form-group
        = form.label :url, 'Registration link'
        = form.text_field :url, class: 'form-control'
      .form-group
        = form.label :contact_name
        = form.text_field :contact_name, class: 'form-control'
      .form-group
        = form.label :organization_name
        = form.text_field :organization_name, class: 'form-control'
      .form-group
        = form.label :contact_number
        = form.text_field :contact_number, class: 'form-control'
      .form-group
        = form.label :contact_email
        = form.text_field :contact_email, class: 'form-control'
      - if current_user&.admin? && @activity.persisted?
        .form-group
          = form.label :state
          = form.select :state, Activity.states.keys.map {|k| [k.capitalize, k]}, {}, class: 'form-control'
      .form-group
        = form.label 'Tags'
        = form.text_field :tag_list, value: form.object.tag_list.to_s, class: 'form-control'
      - if @activity.new_record?
        .form-group
          = recaptcha_tags
      .form-group
        = form.submit class: 'btn'
