.row
  .col-md-6.col-md-offset-3
    = form_for(@activity, html: { multipart: true }) do |form|
      = form_errors_for(@activity)
      .form-group
        = form.label :title
        = form.text_field :title, class: 'form-control'
      .form-group
        = form.label :who
        = form.text_field :who, class: 'form-control'
      .form-group
        = form.label :what
        = form.text_field :what, class: 'form-control'
      .form-group
        = form.label :where
        = form.text_field :where, class: 'form-control'
      .form-group
        = form.label :when_start
        #datetimepicker1.input-group.date{"data-target-input": "nearest"}
          %input.form-control.datetimepicker-input{"data-target": "#datetimepicker1", type: "text"}
          .input-group-append{"data-target": "#datetimepicker1", "data-toggle": "datetimepicker"}
            .input-group-text
              %i.fa.fa-calendar

      .form-group
        = form.label :when_end
        = form.datetime_select :when_end, class: 'form-control', include_blank: true, selected: @activity.persisted? ? @activity.when_end : Time.now
      .form-group
        = form.label :how
        = form.text_field :how, class: 'form-control'
      .form-group
        = form.label :details
        = form.text_field :details, class: 'form-control'
      - if current_user&.admin? && @activity.persisted?
        .form-group
          = form.label :state
          = form.select :state, Activity.states.keys.map {|k| [k.capitalize, k]}, {}, class: 'form-control'
      .form-group
        = form.label 'Tags'
        = form.text_field :tag_list, value: form.object.tag_list.to_s, class: 'form-control'
      - if @activity.new_record?
        .form-group
          = recaptcha_tags
      .form-group
        = form.submit class: 'btn btn-primary'
  :javascript
    $(function () {
      $('#datetimepicker1').datetimepicker();
    });
