- content_for_title("Activity #{@activity.title}")
- content_for(:subnav) do
  = link_to '« Back to activities', activities_path, class: 'btn btn-green', title: 'List of all activities'
  .btn-group
    = link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-orange', title: "Edit #{@activity}" if current_user&.admin?
    = link_to 'Delete', @activity, method: :delete, data: { confirm: "Delete Activity #{@activity.title}?" }, class: 'btn btn-red', title: "Delete #{@activity}" if current_user&.admin?
%section
  %div.card-columns
    %div.card
      %div.card-body
        %h5.card-title Title
        %p.card-text= @activity.title
    - if !@activity.location.empty?
      %div.card
        %div.card-body
          %h5.card-title Location
          %p.card-text= @activity.location
    - if @activity.ongoing?
      %div.card
        %div.card-body
          %h5.card-title Time
          %p.card-text Ongoing
    - else
      - if !@activity.when_start.nil?
        %div.card
          %div.card-body
            %h5.card-title Start Date
            %p.card-text= I18n.l @activity.when_start, format: :standard if @activity.when_start
      - if !@activity.when_end.nil?
        %div.card
          %div.card-body
            %h5.card-title End Date
            %p.card-text= I18n.l @activity.when_end, format: :standard if @activity.when_end
    - if !@activity.description.empty?
      %div.card
        %div.card-body
          %h5.card-title Description
          %p.card-text= simple_format(@activity.description)
    - if !@activity.organization_name.empty?
      %div.card
        %div.card-body
          %h5.card-title Organization
          %p.card-text= @activity.organization_name
    - if !@activity.contact_name.empty?
      %div.card
        %div.card-body
          %h5.card-title Contact Name
          %p.card-text= @activity.contact_name
    - if !@activity.contact_number.empty?
      %div.card
        %div.card-body
          %h5.card-title Contact Number
          %p.card-text= @activity.contact_number
    - if !@activity.contact_email.empty?
      %div.card
        %div.card-body
          %h5.card-title Contact Email
          %p.card-text= @activity.contact_email
    - if !@activity.tag_list.empty?
      %div.card
        %div.card-body
          %h5.card-title Tags
          %p.card-text
            - @activity.tag_list.each do |tag|
              .btn.btn-secondary.btn-sm.btn-static #{tag}
