- content_for_title("Activity #{@activity.title}")
- content_for(:subnav) do
  = link_to '« Back to activities', activities_path, class: 'btn btn-primary', title: 'List of all activities'
  .btn-group
    = link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-primary', title: "Edit #{@activity}" if current_user&.admin?
    = link_to 'Delete', @activity, method: :delete, data: { confirm: "Delete Activity #{@activity.title}?" }, class: 'btn btn-danger', title: "Delete #{@activity}" if current_user&.admin?
%section
  %table.table-striped
    %tr
      %th Title
      %td= @activity.title
    - if !@activity.location.empty?
      %tr
        %th Location
        %td= @activity.location
    - if @activity.ongoing?
      %th Time
      %td Ongoing
    - else
      - if !@activity.when_start.nil?
        %tr
          %th Start Date
          %td= I18n.l @activity.when_start, format: :standard if @activity.when_start
      - if !@activity.when_end.nil?
        %tr
          %th End Date
          %td= I18n.l @activity.when_end, format: :standard if @activity.when_end
    - if !@activity.description.empty?
      %tr
        %th Description
        %td= @activity.description
    - if !@activity.organization_name.empty?
      %tr
        %th Organization
        %td= @activity.organization_name
    - if !@activity.contact_name.empty?
      %tr
        %th Contact Name
        %td= @activity.contact_name
    - if !@activity.contact_number.empty?
      %tr
        %th Contact Number
        %td= @activity.contact_number
    - if !@activity.contact_email.empty?
      %tr
        %th Contact Email
        %td= @activity.contact_email
    - if !@activity.tag_list.empty?
      %tr
        %th Tags
        %td
          - @activity.tag_list.each do |tag|
            .btn.btn-secondary.btn-sm.btn-static #{tag}
