- content_for_title(@activity.title)

- content_for(:subnav) do
  .float-right
    = link_to 'Delete', @activity, method: :delete, data: { confirm: "Delete Activity #{@activity.title}?" }, class: 'btn btn-outline-danger mr-5', title: "Delete #{@activity.title}" if current_user&.admin?
    = link_to 'Edit', edit_activity_path(@activity), class: 'btn btn-primary', title: "Edit #{@activity.title}" if current_user&.admin?

%section.details.border.mt-5.p-5
  .row
    .col-9
      %dl.row
        %dt.col-3 Description
        %dd.col-9= @activity.description
        %dt.col-3 Location
        %dd.col-9= @activity.location
        %dt.col-3 Frequency
        %dd.col-9= @activity.ongoing? ? 'Ongoing' : 'One Time'
        %dt.col-3 Start Date
        %dd.col-9= I18n.l @activity.when_start, format: :standard if @activity.when_start
        %dt.col-3 End Date
        %dd.col-9= I18n.l @activity.when_end, format: :standard if @activity.when_end
        %dt.col-3 Registration link
        %dd.col-9= link_to(@activity.url, @activity.url) unless @activity.url.blank?
        %dt.col-3 Organization
        %dd.col-9= @activity.organization_name
        %dt.col-3 Contact Name
        %dd.col-9= @activity.contact_name
        %dt.col-3 Contact Phone Number
        %dd.col-9= @activity.contact_number
        %dt.col-3 Contact Email
        %dd.col-9= @activity.contact_email
        %dt.col-3 Tags
        %dd.col-9
          - @activity.tag_list.each do |tag|
            %span.tag.badge-pill.mr-1= tag
